*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
display: flex;
height: auto;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
}
.Cubeblue {
    width: 210px;
    height: 210px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
	color: white;
    background: linear-gradient(#2E3192, #1BFFFF);
    margin: 15px;
    line-height: 210px;
   

}
.Cubered {
    width: 210px;
    height: 210px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
	color: white;
    line-height: 210px;
    margin: 15px;
    background: linear-gradient(#FF512F, #DD2476);

}
.Cubegreen {
    width: 210px;
    height: 210px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
	color: white;
    line-height: 210px;
    margin: 15px;
background: linear-gradient(#DCE35B, #45B649);
}

   

